/* Color Palette
#2B2D42 - dark blue
#8D88AE -  light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global Styles
----------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
    background: lightblue;
    margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
a {
  color: #EF233C;
}
a:hover{
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
}

/* Header & Footer
----------------------------------*/
header, footer {
  background: #2B2D42;
  color: #8D88AE;
}

/* Header */
header h1, header h2 {
  color: #EDF2F4;
}

/* Footer */
footer {
  text-align: center;
}

.contact-info a {
  background: white;
  padding: 10px;
  display: inline-block;
}

/* Work Experience
----------------------------------*/
.work {
  background: #EDF2F4;
}

/* Education
----------------------------------*/
.education {
  background: #8D88AE;
}
